<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-sm-6 m-auto">
            <%- include ('../partials/message')%>
            <h3>Register from Here</h3>
            <hr>
            <form action="/auth/register" class="needs-validation" method="POST" novalidate>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="uname" placeholder="Enter email" name="email"
                        required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="contact">Contact:</label>
                    <input type="contact" class="form-control" id="contact" placeholder="Enter Contact Number"
                        name="contact" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="name">Name :</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd1" placeholder="Enter password" name="password"
                        required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="pwd">Confirm Password:</label>
                    <input onkeyup="pass()" type="password" class="form-control" id="pwd2"
                        placeholder="Enter Password Again" name="password" required>
                    <p id="msg" style="color:red;display: none;">Password do not match</p>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <small>Already Registered ? <a href="/auth/login">Log in Here</a></small>
        </div>
    </div>
</div>

<script>

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function pass() {
        if (document.getElementById('pwd2').value != document.getElementById('pwd1').value) {
            document.getElementById('msg').style.display = 'block';
        } else {
            document.getElementById('msg').style.display = 'none';
            return

        }
    }
</script>