<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 m-auto pt-1 pb-1">
                        <div style="height: 300px;">
                            <h3 class="text-center">Active users</h3>
                            <div class="text-center"><br><br>
                                <i class="fa fa-user-plus fa-5x"></i>
                            </div><br><br>
                            <h2 class="text-center">
                                <b style="font-weight: 900;"><%=activeUser%></b>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 m-auto pt-1 pb-1">
                        <div style="height: 300px;">
                            <h3 class="text-center">Total User </h3>
                            <div class="text-center"><br><br>
                                <i class="fa fa-users fa-5x"></i>
                            </div><br><br>
                            <h2 class="text-center">
                                <b style="font-weight: 900;"><%=totalUser%></b>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card pl-0 pr-0">
                <div class="row">
                    <div class="col-md-6 m-auto pt-1 pb-1 ">
                        <div style="height: 300px;">
                            <h3 class="text-center">Removed User</h3>
                            <div class="text-center"><br><br>
                                <i class="fa fa-user-times fa-5x"></i>
                            </div>
                            <h2 class="text-center">
                                <b style="font-weight: 900;"><%=blockedUser%></b>
                            </h2>
                        </div>
                    </div>
                    <div id="totalUsers"></div>
                </div>
            </div>
        </div>
    </div>
</div>