<div class="container mt-2">
    <h3>Available Notes</h3>
    <hr>
    <h4>Search for Notes</h4>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <%if(notes == null){%>
    <h3>Sorry. No Notes available for You. Come Back Soon</h3>
    <%}else{%>
    <%for(var i=0;i < notes.length;i++){%>
    <%=notes[i]%>
    <%}%>
    <%}%>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>