<div class="container mt-2">
    <h3>Available Notes</h3>
    <hr>
    <h4>Search for Notes</h4>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Department</th>
                <th>Semester</th>
                <th>Subject</th>
                <%if(userData){%>
                <th>Buy</th>
                <%}%>
                </tr>
            </thead>
            <tbody id="myTable">
                <%if(notes.length>=1){%>
                <%for(var i=0;i< notes.length;i++){%>
            <tr>
                <%if(userData !=null && userId == userData.id) {%>
                <% continue %>
                <%}%>
                <td><%=notes[i].department %></td>
                <td><%=notes[i].semester%></td>
                <td><%=notes[i].subject%></td>
                <%if(userData){%>
                <td><a href="http://localhost:3000/user/notes/<%=notes[i].notesId%>"><i class="fa fa-cart-plus"></i></a>
                </td>
                <%}%>
                </tr>
                <%}%>
                <%}else{%>
                <h3>No Notes Available.. Come Back Soon </h3>
                <%}%>
            </tbody>
        </table>
    </div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>