<div class="container mt-2">
    <h3>Available Notes</h3>
    <hr>
    <h4>Search for Notes</h4>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Department</th>
                <th>Semester</th>
                <th>Subject</th>
                <%if(userData){%>
                <th>Buy</th>
                <%}%>
            </tr>
        </thead>
        <tbody>
            <%if(notes == null){%>
                <h3>Sorry. No Notes available for You. Come Back Soon</h3>
                <%}else{%>
                <%for(var i=0;i < notes.length;i++){%>
            <tr>
                <td><%=notes[i].notesId.department%></td>
                <td><%=notes[i].notesId.semester%></td>
                <td><%=notes[i].notesId.subject%></td>
                <%if(userData){%>
                <td><a href="/user/notes/<%=notes[i].notesId._id%>"><i class="fa fa-cart-plus" style="color: green;"></i></a></td>
                <%}%>
            </tr>
            <%}%>
                <%}%>

        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>